*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    font-family: 'Caveat', cursive;
font-family: 'Yeon Sung', cursive;
}

.logo{
    margin: -4% 0 0 2%;
    font-size: 25px;
  }
  #underline{
    text-decoration: none;
  }
  .clear{
    clear: both;
  }
  
  .slide-toggle{
    display: none;
  }
  
  .slidemenu{
    max-width: 100%;
    overflow: hidden;
  }
  
  .slidemenu label{
    width: 17%;
    text-align: center;
    display: block;
    float: right;
    color: rgb(38, 3, 65);
    font-weight: bold;
  }
  
  .slidemenu label:hover{
    cursor: pointer;
    color: #666;
  }
  
  .slidemenu label span{
    display: block;
  }
  
  .slidemenu label .icon{
    padding: auto;
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 30px;
    display: block;
    margin: 0 auto;
    line-height: 0px;
  }
  
  .slider{
    width: 50%;
    height: 2px;
    display: block;
    background: #ccc;
    margin: 0px 0 0 48%;
    border-radius: 5px;
  }
  
  .slider1{
    width: 49%;
    height: 2px;
    display: block;
    background: #ccc;
    margin: 5px 0 0 -2%;
    border-radius: 5px;
  }
  
  .slider .bar{
    width: 33%;
    height: 5px;
    background: #333;
    border-radius: 5px;
  }
  
  .slidemenu label, .slider .bar{
    transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out;
    -moz-transition: all 1000ms ease-in-out;
  }
  
  .slidemenu #slide-item-2:checked ~ .slider .bar{margin-left: 0%;}
  .slidemenu #slide-item-3:checked ~ .slider .bar{margin-left: 33.33%;}
  .slidemenu #slide-item-4:checked ~ .slider .bar{margin-left: 67.66%;}



.c-us{
  text-transform: capitalize;
  margin: 3% 0 0 7%;
}
 .c-us p{
  font-size: 30px;
  color: rgb(38, 3, 65);
  font-weight: bold;
 }
.contact{
  margin-top: 5%;
}
 .contact a{
   color: rgb(38, 3, 65);
   font-weight: bold;
   letter-spacing: 2px;
   line-height: 50px;
   margin: 0% 0 0 10%;
 }

 .dot{
   margin: -10% 0 0 50%;
   width: 2px;
   height: 350px;
   background-color: rgb(38, 3, 65);
 }
.or{
  margin: -29% 0 0 49%;
  font-size: 30px;
  color: rgb(38, 3, 65);
  font-weight: bold;
}
 .form{
   margin: -1% 0 0 58%;
 }

 .form .line{
  font-size: 30px;
  color: rgb(38, 3, 65);
  font-weight: bold;
 }

 .form-box{
   margin-top: 2%;
 }

 .form-box input{
  width: 250px;
  height: 32px;
  margin-top: 2%;
  text-align: center;
  font-size: 14px;
  border: solid 2px rgb(38, 3, 65);
  border-radius: 15px;
  color: rgb(38, 3, 65);
}

.form-box ::placeholder{
  color: rgb(38, 3, 65);
}

.submit{
  width: 120px;
  margin: 2% 0 0 11%;
  text-align: center;
  height: 30px;
  background-color: rgb(38, 3, 65);
  border: none;
  outline: none;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Caveat', cursive;
  font-family: 'Yeon Sung', cursive;
  font-size: 16px;
  border-radius: 13px;

}